body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    background: #212529 !important;
}
.container {
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
}

.container h1 {
    color: #dee2e6;
}

.section {
    background-color: #212529;
    padding: 3px;
    border: 1.5px solid #212529;
    border-radius: 0.25em;
}

#my-qr-reader {
    padding: 20px !important;
    border: 1.5px solid #212529 !important;
    border-radius: 8px;
    background-color: #212529;
}

#my-qr-reader img[alt="Info icon"] {
    display: none;
}

#my-qr-reader img[alt="Skeniranje pomoću kamere"] {
    width: 100px !important;
    height: 100px !important;
}

button {
    padding: 10px 20px;
    border: 1px solid #0d6efd;
    outline: none;
    border-radius: 0.25em;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #0d6efd;
    transition: 0.3s background-color;
}

button:hover {
    background-color: #0b5ed7;
}

#html5-qrcode-anchor-scan-type-change {
    text-decoration: none !important;
    color: #1d9bf0;
}

video {
    width: 100% !important;
    border: 1px solid #212529 !important;
}
